<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopolymer-app-taller">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-xs-12">
          <img src="https://elements.polymer-project.org/images/polymer.svg" />
            <button type="button" name="button" class="btn btn-info">Cargar datos</button>
          <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>APELLIDO</th>
            </thead>
            <tbody>
              <tr>
                <td>55</td>
                <td>pepito</td>
                <td>perez</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>





    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xs-12">
          <span>Soy la columna 1</span>
          <img src="https://image.flaticon.com/icons/svg/265/265674.svg" />
          <button class="btn btn-info" type="button" name="button">Click</button>
        </div>
        <div class="col-lg-3 col-xs-12">
          <span>Soy la columna 2</span>
          <img src="https://image.flaticon.com/icons/svg/236/236831.svg" />
          <button class="btn btn-warning" type="button" name="button">Click</button>
        </div>
        <div class="col-lg-3 col-xs-12">
          <span>Soy la columna 3</span>
          <img src="https://image.flaticon.com/icons/svg/145/145864.svg" />
          <button class="btn btn-success" type="button" name="button">Click</button>
        </div>
        <div class="col-lg-3 col-xs-12">
          <span>Soy la columna 4</span>
          <img src="https://image.flaticon.com/icons/svg/167/167750.svg" />
          <button class="btn btn-danger" type="button" name="button">Click</button>
        </div>
      </div>
      <div class="row">
        <table id="tablaProductos" class="table table-striped">
            <thead>
                <td>
                  Nombre
                </td>
                <td>
                  Precio
                </td>
                <td>
                  Stock
                </td>
            </thead>
        </table>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerAppTaller extends Polymer.Element {
      static get is() { return 'demopolymer-app-taller'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app-taller'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(DemopolymerAppTaller.is, DemopolymerAppTaller);
  </script>
</dom-module>
